.TestClass {
	color: Black;
	background-color: White;
	text-align: left;
}

body{
	background-image:url('D:/Катя/программирование/Epam/Home_Task/Task 2/images/55.jpg');
}

.table_detail {
font:15pt Georgia;
text-align: left;
border-collapse: separate;
border-spacing: 5px;
background: #30312c;
color: #fef5f7;
border: 5px ridge #fee5c6;
border-radius: 15px;
margin: auto;
overflow: auto;
}

.th_2 {
font-size: 18px;
padding: 10px;
color: #fef5f7;
}

.td_2 {
background: #30312c;
padding: 10px;
border-radius: 6px;
}

/*p{
	font-size: 	xx-large;
}*/
	input[type=image]{
	height: 2em;
	margin-left: auto;
	float: right;
}
input[type=submit].detail_button{
  display:inline-block;
  margin-right:53px;
  color: black;
  font:12pt Georgia;
  text-decoration: none;
  padding: 5px;
  height: 30px;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #9d9f9e #000 #382a4e;
  border-radius: 6px;
  background: linear-gradient(#f7cb8a, #f8d7ae) #cfbc7a;
  transition: 0.2s;
  width: 100%;
 }
input[type=submit].detail_button:hover{
	background: linear-gradient(#ffffff, #fae0c8) #60876a;
}

